<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-12 col-md-3 col-xl-2 px-sm-2 px-0 shadow text-white sidebar-to-hide" style="background-color: #4b56d2; border-radius: 0px 20px 20px 0">
            <div class="d-flex flex-column align-items-center pt-2 px-1 min-vh-80">
                <br />
                <div class="img d-flex flex-column align-items-center justify-content-center">
                    <img src="nlacaca.png" alt="" width="100px" />
                    <h1 class="ad pt-1">Director of Student Finance</h1>
                    <br />
                </div>
                <div class="btn-groups d-flex flex-column gap-2 mt-2 w-100 align-items-start">
                    <button class="btn text-white" routerLink="/main-page/enrollees">
                        <img src="home.png" width="30px" />&nbsp; Enrollees
                    </button>
                    <button class="btn text-white" routerLink="/main-page/student">
                        <img src="users-alt.png" width="30px" />&nbsp; Student Account
                    </button>
                    <button class="btn text-white" routerLink="/login-page">
                        <img src="exit.png" width="30px" />&nbsp; Logout
                    </button>
                </div>
            </div>
        </div>

        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
