<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon><i class="bi bi-list-task"></i></mat-icon>
    </button>
  
    <div class="m-2 d-flex gap-3">
      <a class="nav-link"><i class="bi bi-megaphone-fill text-danger"></i> </a>
      <a class="nav-link"><i class="bi bi-chat-right-dots-fill text-warning"></i></a>
    </div>
   
    
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()" autosize>
      <app-custom-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>
  
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>