<h1>STUDENT ACCOUNT</h1>
<!-- <h1>ENROLLES</h1> -->
<div class="student-account">
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search...">
    <button type="submit">Search</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Grade Level</th>
        <th>Enrollment Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>10th Grade</td>
        <td>2023-08-01</td>
        <td>
            &nbsp;
            <i class="fa fa-upload" aria-hidden="true"></i>
        </td>
      </tr>
      <!-- Add more rows here -->
      <tr>
        <td>Mike Lopez</td>
        <td>8th Grade</td>
        <td>2023-09-01</td>
        <td>
            &nbsp;
            <i class="fa fa-upload" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>